/*--------------------------------------------------------*/
/*------------------- GENERALS  --------------------------*/
/*--------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

.carreVert {
  background-color: lightgreen;
}

.carreViolet {
  background-color: purple;
}

.carreOrange {
  background-color: orange;
}



/*--------------------------------------------------------*/
/*------------------- EXERCICE 1 -------------------------*/
/*--------------------------------------------------------*/

.rectangleEx1 {
  margin: auto;
  padding: 40px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 2 -------------------------*/
/*--------------------------------------------------------*/

.rectangleEx2 {
  position: relative;
}

#exercice2 .carreVert {
  left: 50px;
  width: 800px;
  height: 200px;
}

#exercice2 .carreViolet {
  width: 500px;
  height: 120px;
  top: 40px;
  left: 350px;
}

#exercice2 .carreOrange {
  width: 450px;
  height: 80px;
  top: 20px;
  right: 400px;
}








