/*--------------------------------------------------------*/
/*------------------- GENERALS  --------------------------*/
/*--------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  margin: auto;
  width: 50%;

}

h1, h2 {
  text-align: center;
}

.carreVert {
  background-color: lightgreen;
}

.carreViolet {
  background-color: purple;
}

.carreOrange {
  background-color: orange;
}



/*--------------------------------------------------------*/
/*------------------- EXERCICE 1 -------------------------*/
/*--------------------------------------------------------*/


.rectangleEx1 {
  margin: auto;
  padding: 40px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 2 -------------------------*/
/*--------------------------------------------------------*/



