/*--------------------------------------------------------*/
/*------------------- GENERALS  --------------------------*/
/*--------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

.carreVert {
  background-color: lightgreen;
  border: solid 2px #000;
}

.carreViolet {
  background-color: purple;
  opacity: 0.5;
  border: solid 2px #000;
}

.carreOrange {
  background-color: orange;
  border: solid 2px #000;
}

.carreBleu {
  background-color: aqua;
  border: solid 2px #000;
}

.carreJaune {
  background-color: yellow;
  border: solid 2px #000;
}

#carreGris {
  background-color: grey;
  border: solid 2px #000;
}



/*--------------------------------------------------------*/
/*------------------- EXERCICE 1 -------------------------*/
/*--------------------------------------------------------*/

.rectangleEx1 {
  margin: auto;
  padding: 40px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 2 -------------------------*/
/*--------------------------------------------------------*/

.rectangleEx2 {
  position: relative;
}

#exercice2 .carreVert {
  left: 50px;
  width: 800px;
  height: 200px;
}

#exercice2 .carreViolet {
  width: 500px;
  height: 120px;
  top: 40px;
  left: 350px;
}

#exercice2 .carreOrange {
  width: 450px;
  height: 80px;
  top: 20px;
  right: 400px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 3 -------------------------*/
/*--------------------------------------------------------*/

#exercice3 {
height: 500px;
}

#exercice3 .carreVert {
  position: relative;
  width: 800px;
  height: 200px;
}

#exercice3 .carreViolet {
  position: absolute;
  width: 500px;
  height: 120px;
  left: 150px;
  top: 40px;
}

#exercice3 .carreOrange {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 200px;
  left: 150px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 4 -------------------------*/
/*--------------------------------------------------------*/
#exercice4 {
  height: 750px;
}

#exercice4 .carreBleu{
  height: 150px;
  width: 900px;
  position: relative;
}

#exercice4 .carreVert{
  position: absolute;
  height: 250px;
  width: 250px;
  left: 200px;
  top: 250px;
}

#exercice4 .carreViolet {
  position: absolute;
  height: 130px;
  width: 130px;
  top: 60px;
  left: 60px;
}

#exercice4 .carreOrange {
  position: absolute;
  height: 130px;
  width: 130px;
  top: 230px;
  left: 230px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 5 (absolute)---------------*/
/*--------------------------------------------------------*/

#exercice5-abs .carreBleu {
  position: relative;
  box-sizing: border-box;
  height: 500px;
  width: 500px;
  padding: 25px;
}

#exercice5-abs .carreVert {
  position: absolute;
  width: 200px;
  height: 200px;
}

#exercice5-abs .carreViolet {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 275px;
}

#exercice5-abs .carreOrange {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 275px;
}

#exercice5-abs .carreJaune {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 275px;
  left: 275px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 5 (relative)---------------*/
/*--------------------------------------------------------*/

#exercice5-rel .carreBleu {
  position: relative;
  box-sizing: border-box;
  height: 500px;
  width: 500px;
  padding: 25px;
}

#exercice5-rel .carreVert {
  position: relative;
  width: 200px;
  height: 200px;
}

#exercice5-rel .carreViolet {
  position: relative;
  width: 200px;
  height: 200px;
  left: 250px;
  bottom: 200px;
}

#exercice5-rel .carreOrange {
  position: relative;
  width: 200px;
  height: 200px;
  bottom: 150px;
}

#exercice5-rel .carreJaune {
  position: relative;
  width: 200px;
  height: 200px;
  left: 250px;
  bottom: 350px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 6 -------------------------*/
/*--------------------------------------------------------*/
#exercice6 .carreBleu {
  position: relative;
  box-sizing: border-box;
  height: 500px;
  width: 500px;
  padding: 25px;
}

#exercice6 .carreVert {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
}

#exercice6 .carreViolet {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 3;
  top: 70px;
  left: 70px;
}

#exercice6 .carreOrange {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 2;
  left: 225px;
  bottom: 70px;
}

#exercice6 .carreJaune {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  bottom: 25px;
  left: 275px;
}

/*--------------------------------------------------------*/
/*------------------- EXERCICE 7 -------------------------*/
/*--------------------------------------------------------*/

#exercice7 {
  height: 700px;
}



#exercice7 .carreVert, #exercice7 .carreViolet {
  width: 200px;
  height: 200px;
  float: left;
}

#exercice7 .carreOrange {
  clear: both;
  width: 100%;
  height: 200px;
}

#exercice7 .carreJaune, #carreGris {
  float: right;
  height: 200px;
  width: 200px;
}

